@font-face{
    src: url(font/Helvetica\ 75\ Bold\ Outline.ttf);
    font-family: helvetica-outline;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family:  Bahnschrift, sans-serif;
   background-color: whitesmoke;
   position: relative; 
   min-height: 100vh;
   padding-bottom: 50px;
}
header {
    background-color: rgb(61, 61, 61) ;
    color: whitesmoke ;
    padding: 30px;
    text-align: center;
}
header h1 {
    margin-bottom: 10px;
    font-size: 46px;
    font-family: helvetica-outline;
}
header p {
    font-size: 15px;
    
}
main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
}
.img-drew {
    height: 400px;
    margin: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid whitesmoke;
    box-shadow: gray 0px 0px 10px;
}
ul {
    margin: 25px;
    padding:50px;
    text-align: left;
    box-shadow: 0 0 10px gray;
}
li {
    margin: 5px;
    font-size: 20px;
}
.table-1 {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    min-width: 80%;
    min-height: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-1 thead tr {
    background-color: rgb(57, 129, 102);
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
}
.table-1 th,
.table-1 td {
    padding: 12px 15px;
}
.table-1 tbody tr{
    border-bottom: 1px solid lightgray;
}
.table-1 tbody tr:last-of-type {
    border-bottom: 2px solid rgb(57, 129, 102);
}
footer {
    background-color: rgb(61, 61, 61) ;
    color: whitesmoke ;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.table-title {
    text-align: center;
    margin: 20px;
    margin-top: 100px;
}
